html
  head
    title Welcome 
  body
    div(style="text-align: right; padding: 10px;")
      a(href='/') Home
   
    style.
      table {
        border-collapse: collapse;
        margin-bottom: 200px;
      }

      th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

    h1 Trainer Profile
    if Trainer
        p Welcome, #{Trainer.fname} #{Trainer.lname}
    
    if Sessions
        h2 Trainer Schedule

        //- First Table
        table(style="margin-bottom: 10px;")
          caption Upcoming Training Sessions
          tr
            th Session
            th Member
            th Date 
            th Time
            th Duration
          each sess in Sessions
            tr
              td= sess.sessionid 
              td= sess.memberid
              td= sess.sessiondate
              td= sess.sessiontime
              td= sess.duration

        //- Second Table
        table(style="margin-bottom: 100px;")
          caption Events
          tr
            th Event type 
            th Date 
            th Time 
            th Duration 
            th Room
          each ev in Events
            tr
              td= ev.eventtype
              td= ev.eventdate 
              td= ev.eventtime 
              td= ev.eventduration
              td= ev.roomnumber

        //- Third Table
        table(style="margin-bottom: 100px;")
          caption Completed Training Sessions
          tr
            th Session ID
            th Member
            th Date 
            th Time
            th Duration
            th Progress Notes
          each compsess in completedSess
            tr
              td= compsess.sessionid
              td= compsess.memberid
              td= compsess.sessiondate
              td= compsess.sessiontime
              td= compsess.duration        
              td= compsess.progressnotes
        br
        br
        br

        form(action='/addProgressNotes' method='post')
          label(for='SessionID') Session ID:
          input(type='text' name='SessionID' required)

          label(for='progressNotes') Progress Notes:
          input(type='text' name='progressNotes' required)
          input(type='hidden' name='TrainerID' value=Trainer.trainerid)
          input(type='submit' value='Add Progress Notes')
        br
        br
        br
        
        //- Fourth Table
        table
          caption All Members
          tr
            th Member
          each member in Members
            tr
              td
                a(href='/MemberProfile/' + member.memberid)= member.fname + ' ' + member.lname


